<footer class="bg-light text-dark shadow">
  <div class="container">
    <ul
      class="list-unstyled d-flex justify-content-between py-3"
      aria-label="Footer links"
    >
      <li class="jis--University--footer-item">©️2023 | JECRC Foundation</li>
      <li class="cfc--footer-item">Scholarship Portal | all rights reserved</li>
      <li class="cfc--footer-item code">
        <a
          class="nav-link text-decoration-none text-dark"
          href="https://github.com/lavneesh27/scholarship-portal"
          target="_blank"
          >ScholarshipSIH.codes</a
        >
      </li>
    </ul>
  </div>
</footer>
