<div class="container my-5 d-flex justify-content-center">
  <form class="w-50">
    <div class="mb-3">
      <label for="exampleInputusername" class="form-label">User Name</label>
      <input
        type="text"
        class="form-control"
        id="exampleInputusername"
        name="username"
        [(ngModel)]="register.userName"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        name="email"
        [(ngModel)]="register.email"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        name="password"
        [(ngModel)]="register.password"
      />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label"
        >Confirm Password</label
      >
      <input type="password" class="form-control" id="exampleInputPassword1" />
    </div>
    <div class="d-grid gap-2">
      <button
        type="submit"
        class="btn btn-primary btn-block"
        (click)="submit()"
      >
        Register
      </button>
    </div>
  </form>
</div>
