<div
  class="container d-flex flex-column justify-content-center text-center h-100"
>
  <h1>🎓Scholarship</h1>
  <p>
    Finding a Scholarship where you can apply can be a tedious process. But
    Don't worry! we got you covered. Our website allows you to easily browse
    through Scholarships by category. We make it simple for you to search for
    Scholarships that you qualify for. We do the work for you, All you need to
    do is register and complete your profile.
  </p>
  <form>
    <div>
      <label for="scholarship" class="form-label"
        ><strong>Name of the Scholarship</strong></label
      >
      <input
        type="text"
        class="form-control"
        id="scholarship"
        placeholder="Search Scholarship"
        name="scholarship"
        [(ngModel)]="inputScholar"
        (ngModelChange)="search()"
      />
    </div>
  </form>
</div>
<div class="card-columns container">
  <div class="card my-3 p-3 shadow-lg" *ngFor="let scholarship of scholarships">
    <h4 class="card-title">{{ scholarship.name }}</h4>
    <div class="card-body">
      <p class="card-text">
        <strong>Eligibility: </strong>{{ scholarship.eligibility }}
      </p>
      <p class="card-text"><strong>About: </strong>{{ scholarship.about }}</p>
      <p class="card-text"><strong>Amount: </strong>{{ scholarship.amount }}</p>
      <p class="card-text">
        <strong>Apply Link: </strong
        ><a href="{{ scholarship.apply_link }}" target="_blank">{{
          scholarship.apply_link
        }}</a>
      </p>
      <div class="d-flex">
        <a
          class="btn btn-primary me-2"
          href="{{ scholarship.apply_link }}"
          target="_blank"
          >Apply</a
        >
        <button class="btn btn-outline-primary" (click)="save(scholarship._id)">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
