<div
  class="container d-flex justify-content-center flex-column text-center my-3"
>
  <h1>About Us</h1>
  <p>
    We are representing here to represent on the Behalf of
    <strong>JECRC Foundation</strong>
    Problem Statement Portal to know about various National and International
    scholarships Objective: The main objective is to provide a platform to
    students where they can find the available national and international
    scholarships based on their merit, skills, income, etc. By providing a
    comprehensive platform for scholarship seekers, the Scholarship Portal aims
    to promote higher education and enable deserving students to achieve their
    academic and career goals. <br />
    <br />
    With a user-friendly interface and advanced search features, the Portal
    enables students to easily navigate through the diverse scholarship options
    and filter them based on their specific criteria. It also provides valuable
    resources and guidance to help students understand the application process,
    eligibility requirements, and deadlines associated with each scholarship,
    thereby empowering them to make informed decisions and increase their
    chances of securing financial assistance for their studies. By fostering
    transparency, inclusivity, and accessibility, the Scholarship Portal aims to
    contribute to the overall development of talented individuals, encouraging
    them to pursue higher education and become future leaders, innovators, and
    change-makers in their respective fields.
  </p>
</div>
