<div
  class="container d-flex justify-content-center flex-column text-center my-5"
>
  <h1>About Us</h1>
  <p>
    We are representing here to represent on the Behalf of
    <strong>JECRC Foundation</strong>
    Problem Statement Portal to know about various National and International
    scholarships Objective: The main objective is to provide a platform to
    students where they can find the available national and international
    scholarships based on their merit, skills, income, etc. It will be a real
    time data management which will be updated with latest scholarships that are
    being offered. By providing a comprehensive platform for scholarship
    seekers, the Scholarship Portal aims to promote higher education and enable
    deserving students to achieve their academic and career goals.
  </p>
</div>
